__pycache__/
.vscode/
temporary/
www_god_mode.json
www_credentials.json
www_token.pickle
www_test.py
www_test2.py
notes.txt
xxx_copy_oldTOnewDB.py
xxx_create_tables.py
xxx_create_tables_NEW.py
TB_Themes.json
x_Better_Canvas.py